<template>
    <div class="p-6">
        <img class="image my-4" :src="img">
        <p class="text-center text-5xl text-gray-700">I am Felipe Pardo</p>
        <p class="text-center text-lg  text-gray-700 mx-12 mt-12 mb-10">
            Computing Engineer with strong interest in cybersecurity who is always motivated to learn and improve my hard and soft skills. <br>
            I am delighted about learning new technologies and contributing solutions to challenges mainly related with data security and privacy.
        </p>
        <contact-me/>
    </div>
</template>

<script>

import ContactMe from '@/components/ContactMe'

export default {

    name:"Home",
    data () {
        return {
            img:'resources/anfepar.jpg'
        }
    },
    components:{ ContactMe }    
}
</script>

<style scoped>
    .image {
        max-height: 250px;
        opacity:0.9;
        background-size: cover;
        margin: auto;
        border:8px solid white;   
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
    }
</style>