<template>
    <div class="h-full">
      <p class="flex text-left text-5xl justify-center text-gray-700 py-12"> Skills</p>
        <div class="my-3" v-for="skill in skills" :key="skill.name">
            <md-divider ></md-divider>
            <md-subheader>{{skill.name}}</md-subheader>
            <md-chip  v-for="element in skill.data" :key="element.name" md-clickable @click="toggle(skill.name,element.name,element.percentage)"> 
                {{ element.name }}
            </md-chip>
            <md-progress-bar class="m-2" v-if="selectedElement && selectedElement.name === skill.name" md-mode="determinate" :md-value="selectedElement.percentage"></md-progress-bar>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            selectedElement :null,
            skills:[
                {
                    name:"Programming Languajes",
                    data:[
                        {name:"Python",percentage:90},
                        {name:"C++",percentage:70},
                        {name:"Java",percentage:90},
                        {name:"JavaScript",percentage:100},
                        {name:"CSS",percentage:80},
                        {name:"TypeScript",percentage:85},
                        {name:"C#",percentage:70},
                        {name:"Solidity",percentage:65},
                        {name:"Haskell",percentage:50},
                        {name:"SQL",percentage:85}
                    ]
                },
                {
                    name:"Frontend Technologies",
                    data:[
                        {name:"ReactJS",percentage:100},
                        {name:"Angular",percentage:90},
                        {name:"VueJS",percentage:55},
                        {name:"Node.js",percentage:80},
                    ]
                },
                {
                    name:"Backend Technologies",
                    data:[
                        {name:"Rest",percentage:100},
                        {name:"GraphQl",percentage:100},
                        {name:"Web3.js",percentage:80},
                        {name:"Geth",percentage:75}
                    ]
                },
                {
                    name:"Database Technologies",
                    data:[
                        {name:"MySQL",percentage:70},
                        {name:"MongoDB",percentage:90},
                        {name:"Redis",percentage:60}
                    ]
                },
                {
                    name:"DevOps Tools",
                    data:[
                        {name:"Linux",percentage:90},
                        {name:"Git",percentage:100},
                        {name:"AWS",percentage:75},
                        {name:"Azure",percentage:65},
                        {name:"Scrum",percentage:70}
                    ]
                },
                {
                    name:"Knowledge Areas",
                    data:[
                        {name:"Blockchain",percentage:70},
                        {name:"Informatic Security",percentage:80},
                    ]
                }
                
            ]
        }
    },
    methods: {
        toggle(name,elementName,percentage){
            if(this.selectedElement && this.selectedElement.elementName == elementName){
                this.selectedElement = null
            }else{
                this.selectedElement = {name,elementName,percentage}
            }
        }
    }
}
</script>
