<template>
    <header class="w-screen text-base">
        <nav>
            <nav class="flex items-center justify-between flex-wrap bg-white mx-6">
                <div class="flex items-center">
                      <router-link class="no-underline" :to="{name:'home'}">
                        <p class="transition duration-700 ease-in-out text-gray-600 menu-button"> 
                            Home
                        </p>
                    </router-link>
                </div>
                <div class="flex mr-4">
                    <router-link v-for="item in menu"  :key="item.ref" class="no-underline" :to="{name:item.ref}">
                        <p class="transition duration-700 ease-in-out text-gray-600 mx-2 menu-button"> 
                            {{item.text}}
                        </p>
                    </router-link>
                </div>
            </nav>
        </nav>
    </header>
</template>

<script>
export default {
    name:'ApHeader',
    data () {
        return {
            img:'resources/home.svg',
            menu:[
                {
                    ref:"projects",
                    text:"Projects",
                },
                 {
                    ref:"experience",
                    text:"Experience",
                },
                 {
                    ref:"skills",
                    text:"Skills",
                },
                 {
                    ref:"blog",
                    text:"Blog",
                }
            ]
        }
    }
    
}
</script>

<style scoped>
    .menu-button:hover{
        font-size: 15pt;
    }


</style>