<template>
    <div class="flex flex-row justify-center">
        <div v-for="entry in media" :key="entry.name">
            <div>
                <a :href="entry.value">
                    <img class="image" :src="entry.img"/> 
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    name:"ContactMe",
    data () {
        return {
            media:[
                {
                    name:'github',
                    img:'resources/icons/github.svg',
                    value:'https://github.com/anfepar',
                },
                {
                    name:'linkedin',
                    img:'resources/icons/linkedin.svg',
                    value:'https://www.linkedin.com/in/andr%C3%A9s-felipe-pardo-mesa-650a76156/',
                },
                {
                    name:'mail',
                    img:'resources/icons/mail.svg',
                    value:'mailto:aanfepar@gmail.com',
                }
            ]
        }
    },
    components:{  }    
}

</script>

<style scoped>
    .image{
        width: 30px;
        margin: 5px;
        opacity: 0.7;
        cursor: pointer;
    }
     .image:hover{
        opacity: 1;
    }

</style>