<template>
  <main class="p-4">
    <ap-header/>
    <router-view  />
  </main>
</template>

<script>
import ApHeader from '@/components/ApHeader';

export default {
  name: 'App',
  components: { ApHeader }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
